html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
}
.container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgb(248, 245, 245, 0.9);
    
}

.container .logoempresa {
    color: white;
    font-size: 24px;
    
}

.container .navbar {
    list-style: none;
    display: flex;
    color: #000;
    align-items: center;
}

.container .navbar a {
    color: #000;
    text-decoration: none;
    padding: 0 45px;
    
}

.container .navbar a:hover {
    color: red;
}


.navbar {
    width: 90%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: red;
}

.inicio {

    border-bottom: 3px solid black;
    height: 60px;
}

.header .container {

    justify-content: space-between;
}

.container {
    justify-content: space-around;
    display: flex;
}

.inicio {
    background-color: lack;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url(./assets/imagemhome.jpg);
    background-size: cover;
}

.texto {
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    color: #000;
    font-size: 13px;
    height: auto;
    width: 50%;
    border-radius: 10px;
    background-color: rgba(252, 252, 252, 0.8);

}

.Noticias {
    width: 100%;
    height: 700px;
    background-color: #fff;
    color: #000;
    display: flex;
    background-size: cover;
    flex-direction: column;
    background-image: url(./assets/nav.jp);
    background-repeat: no-repeat;
    text-align: center;

}

.Noticias img {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(0, 0, 0, 0.9);

}

.conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}



.texto1 {

    display: none;
}

.noticia1 {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-radius: 40px;
    border-color: red;
    border-style: inset;
    transition: 0.5;
}

#noticia1-bg{
    background-size: cover;
    background-image: url(assets/XPB_1126223_HiRes.jpg);
}

#noticia1-bg:hover{
    background-image: none;
}

.texto2{
    display: none;
}

#noticia2-bg{
    background-image: url(assets/ferrari-sf71h-formula-one-f1-cars-2018-wallpaper-preview.jpg);
    background-size: cover;
}

#noticia2-bg:hover{
    background-image: none;
}

.texto3 {

    display: none;
}
#noticia3-bg{
    background-image: url(assets/1010x567_lewis-hamilton-ferrari-476061-125501.jpg);
    background-size: cover;
}

#noticia3-bg:hover{
    background-image: none;
}
.texto4 {

    display: none;
}
#noticia4-bg{
    background-image: url(assets/20240502154857_f1.jpg);
    background-size: cover;
}

#noticia4-bg:hover{
    background-image: none;
}
.texto5 {

    display: none;
}
#noticia5-bg{
    background-image: url(assets/norris.jpg);
    background-size: cover;
}

#noticia5-bg:hover{
    background-image: none;
}
.texto6 {

    display: none;
}
#noticia6-bg{
    background-image: url(assets/senna.jpg);
    background-size: cover;
}

#noticia6-bg:hover{
    background-image: none;
}




.noticia1:hover .texto1 {
    display: block;
}
.noticia1:hover .texto2 {
    display: block;
}
.noticia1:hover .texto3 {
    display: block;
}
.noticia1:hover .texto4 {
    display: block;
}
.noticia1:hover .texto5 {
    display: block;
}
.noticia1:hover .texto6 {
    display: block;
}


.noticia1:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    display: block;
    width: 350px;
}

.noticia1 .hover p {
    display: flex;
}


.conteudo2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;



}



.historia {
    background-image: url(assets/wp11357122.webp);
    background-size: cover;
    text-align: center;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
}

.historia h1 {
    color: #fff;
}

.conteudo3 {
    display: flex;
    width: 50%;
    padding: 1%;
    height: auto;
    align-items: center;
    text-align: center;
    font-size: 14px;
    border: 2px solid #fff;
    color: white;
    justify-content: center;
    text-align: justify;
    background-color: rgb(0, 0, 0, 0.5);
}

.eventos {
    color: white;
    background-image: url();
    background-size: cover;
    text-align: center;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    


}

.conteudo4 {
    display: flex;
    width: 50%;
    padding: 1%;
    height: auto;
    align-items: center;
    text-align: center;
    font-size: 14px;
    border: 2px solid #fff;
    color: white;
    justify-content: center;
    text-align: justify;
    background-color: rgb(0, 0, 0, 0.5);
}


.login {

    display: flex;
    justify-content: center;
    height: 1000px;
    width: 1000px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 0.55);

}