html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
}

/* Estilos do .container */
.container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Adapte o padding conforme necessário */
    position: absolute;
    top: 0;
    background-color: rgb(248, 245, 245, 0.9);
    
}

.container .logoempresa {
    color: white;
    font-size: 24px;
    /* Tamanho da fonte do logo */
}

.container .navbar {
    list-style: none;
    display: flex;
    color: #000;
    align-items: center;
}

.container .navbar a {
    color: #000;
    text-decoration: none;
    padding: 0 45px;
    /* Espaçamento entre os itens do menu */
}

.container .navbar a:hover {
    color: red;
}


.navbar {
    width: 90%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: red;
}


.header .container {

    justify-content: space-between;
}

.container {
    justify-content: space-around;
    display: flex;
}

.onu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1200px;
    margin-top: 90px;
    background-color: #000;
    background-size: cover;

}

.onu3{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu4{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color: rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu5{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color:  rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu6{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color:  rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu7{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color:  rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu8{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color:  rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu9{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color:  rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu10{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color:  rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu11{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color:  rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu12{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color:  rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu13{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color:  rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}
.onu17{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    color: #000;
    background-size: cover;
    background-color:  rgba(255, 255, 255);
    border-radius: 25px;
    height: 70px;
    width: 90%;
}

.texto {
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    color: #000;
    font-size: 13px;
    height: auto;
    width: 50%;
    border-radius: 10px;
    background-color: rgba(252, 252, 252, 0.8);

}

.Noticias {
    width: 100%;
    height: 700px;
    background-color: #fff;
    color: #000;
    display: flex;
    background-size: cover;
    flex-direction: column;
    background-image: url(./assets/nav.jp);
    background-repeat: no-repeat;
    text-align: center;

}

.Noticias img {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(0, 0, 0, 0.9);

}

.conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}



.texto1 {

    display: none;
}


.eventos {
    color: white;
    background-image: url(assets/ev.png);
    background-size: cover;
    text-align: center;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    


}

.conteudo4 {
    display: flex;
    width: 50%;
    padding: 1%;
    height: auto;
    align-items: center;
    text-align: center;
    font-size: 14px;
    border: 2px solid #fff;
    color: white;
    justify-content: center;
    text-align: justify;
    background-color: rgb(0, 0, 0, 0.5);
}


.login {

    display: flex;
    justify-content: center;
    height: 1000px;
    width: 1000px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 0.55);

}